/* PasswordRecovery.css */

body.password-recovery-page {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #007bff;
    
    background-size: cover;
    background-position: 100px; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetir a imagem */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .top-bar {
    background-color: #007bff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .password-recovery-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: auto;
    display: block;
    flex-direction: column;
    margin-top: 100px;
  }
  

  .password-recovery-container h3 {
    color: #4866eb;
    font-size: 20px;
    
  }
  .password-recovery-container p {
    color: white;
    margin-bottom: 20px;
  }
  
  .password-recovery-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .password-recovery-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-recovery-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .password-recovery-container button:hover {
    background-color: #10a0e7;
  }
  
  .password-recovery-container a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .password-recovery-container a:hover {
    text-decoration: underline;
  }
 