@import '~@fortawesome/fontawesome-free/css/all.min.css';

.password-recovery-page{

  background-color: rgba(248, 245, 245, 0.45);
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


.password-recovery-container {
 
  padding: 20px;
  text-align: center;
  
  width: 30%;
  margin: auto;
  margin-top: 170px;
  color: #10a0e7;
  font-family: 'Quicksand', sans-serif;
}

.password-recovery-container h2 {
  color: #10a0e7;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
}

.password-recovery-container h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.password-recovery-container form {
  margin-bottom: 20px;
}

.password-recovery-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-recovery-container button {
  background-color: #10a0e7;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password-recovery-container button:hover {
  background-color: #10a0e7;
}

.password-recovery-container a {
  display: block;
  margin-top: 20px;
  color: #10a0e7;
  text-decoration: none;
}

.password-recovery-container a:hover {
  text-decoration: underline;
}

.password-recovery-container p {
  font-size: 14px;
}





.top-bar {
  background-color: #007bff;
  height: 60px;
  width: 100%;
  position: fixed; 
  text-align: center;
  color: white;
  top: 0px;
  padding: 5px 0;
  left: 0;

}

.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  height: 5px;
  position: fixed;
  top: 120px; /* Ajuste para posicionar a barra abaixo do top bar */
  left: 0;
  z-index: 999; /* Garante que a barra de progresso está acima dos outros elementos */
}

.progress-bar p {
  position: absolute;
  top: -35px; /* Ajuste para posicionar o texto acima da barra */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px; /* Ajuste o tamanho do texto conforme necessário */
}

.progress {
  background-color: #4068ec;
  height: 100%;
}


.password-recovery-page .button-voltar {
  display: flex;
  justify-content: center;
}

.password-recovery-page .button-voltar a {
  background-color: #33eaf7;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}