@import '~@fortawesome/fontawesome-free/css/all.min.css';

body.login-page  {
  margin: 0; 
  
}

.login {
  display: flex;
  height: 100vh;
  background-color:  white;
  
  
}

.login-container {
  flex: 1;
  text-align: left;
  padding: 50px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color:  white;
  max-width: 30%; /* Ajustado para 50% da largura da tela */
  color: #381ae2;
  
  
  
}

h1 {
  color: #381ae2;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%; /* Ajustado para ocupar 100% da largura do container */
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color:  #381ae2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

a {
  color: #2e6bee;
  text-decoration: none;
  margin-top: -30px;
  display: block;
  text-align: right;
}

a:hover {
  text-decoration: underline;
}

.image-container {
  background-image: url(/public/Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 67%; /* Ajustado para 50% da largura da tela */
  height: 100vh;
}

/* Media query para tornar o layout responsivo */
@media (max-width: 600px) {


  .image-container {
    height: 200px; /* Ajuste a altura conforme necessário para a versão responsiva */
    width: 100%; /* Ajustado para ocupar 100% da largura do container na versão responsiva */
  }
}


@media (max-width: 600px) {
  .login-container {
    padding: 100px;
  }
}
.password-label {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

.password-container {
  display: flex;
  align-items: center;
}

/* Ajuste o ícone do olho */
.eye-iconautentic {
  cursor: pointer;
  margin-left: -30px; /* Ajuste a margem conforme necessário */
  position: relative;
  width: 20px; /* Ajuste a largura conforme necessário */
  height: 20px; /* Ajuste a altura conforme necessário */
}

/* Ajuste o ícone do olho para a versão responsiva */
@media (max-width: 600px) {
  .eye-icon {
    margin-left: -15px; /* Ajuste a margem conforme necessário na versão responsiva */
  }
}

/* Media query para tornar o layout responsivo */
@media (max-width: 600px) {
  .image-container {
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .login-container {
    padding: 100px;
  }
}