/* PopupMessage.css */
.popup-message {
  position: fixed;
  top: 5px;
  right: 14px;
  padding: 15px;
  background-color: #4caf50; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  border-radius: 10px;
  border: 2px solid #45a049; /* Borda com linha verde escuro */
  font-size: 14px;
  width: 250px;
  height: auto; /* Altura ajustada automaticamente ao conteúdo */
  animation: fadeInOut 3s forwards; /* Adiciona um efeito de transição */
  text-align: justify;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra para dar destaque */
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
}

/* Adiciona um efeito de transição para o aparecimento/desaparecimento da caixa */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
