@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.register-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar-register {
  background-color: #007bff;
  height: 70px;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cadastros {
  width: 200px;
  background-color: #007bff;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  top: 70px;
  display: flex;
  flex-direction: column;
}

.Cadastros p {
  margin-bottom: 20px;
  font-weight: bold;
}

.Cadastros ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Cadastros li {
  margin-bottom: 10px;
}

.button-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.button-link i {
  margin-right: 10px;
}