/* TokenInput.css */
.token-page{
background-color: rgba(248, 245, 245, 0.45);
  background-size: cover;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.token-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  
  
 
}

.token-input-wrapper {
  display: flex;
  gap: 3px;
}

.token-input {
  width: 50px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

.confirm-button {
  background-color: #10a0e7;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 60px;
  margin-top: 20px;
}

.confirm-button:disabled {
  background-color: #10a0e7;
  cursor: not-allowed;
  width: 300px;
  height: 60px;
  margin-top: 20px;
}

.button-link a {
  background-color: #33eaf7;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.button-link a:hover {
  background-color: #2980b9;
}

@media (max-width: 600px) {
  .token-input-container {
    margin-top: 10px;
  }

  .token-input {
    width: 15px;
    height: 15px;
    font-size: 12px;
    width: 30px;
  }

  .confirm-button {
    font-size: 12px;
    padding: 8px 8px;
    margin-top: 8px;
    width: 300px;
    height: 60px;
  }

  .button-link a {
    margin-top: 20px;
  }
}

.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  height: 5px;
  position: fixed;
  top: 120px; /* Ajuste para posicionar a barra abaixo do top bar */
  left: 0;
  z-index: 999; /* Garante que a barra de progresso está acima dos outros elementos */
}

.progress-bar p {
  position: absolute;
  top: -35px; /* Ajuste para posicionar o texto acima da barra */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px; /* Ajuste o tamanho do texto conforme necessário */
}

.progress {
  background-color: black;
  height: 100%;
}