.register-company-container {
  display: flex;
  flex-direction: column;
}

.register-company-container .top-bar {
  background-color: #007bff;
  height: 70px;
  width: 100%;
  position: fixed; 
  text-align: center;
  color: white;
  top: 0px;
  padding: 5px 0;
  left: 0;

}



.register-company-container .menu-container {
  position: fixed;
  top: 80px; /* Altura do top bar */
  left: 0;
  width: 200px; /* Largura dos botões */
  height: calc(100vh - 50px); /* Altura da tela - altura do top bar */
  background-color: #007bff;
  padding: 10px;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 6%;
}

.register-company-container .menu-container button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  background-color: #007bff; /* Cor de fundo dos botões */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
}

