@import '~@fortawesome/fontawesome-free/css/all.min.css';

.chenge-page {
  background-image: url('/public/reset-de-senha.jpg');
  background-color: rgba(255, 255, 255, 0.45);
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.change-page::before {
  content: '';
  background-image: url('/public/reset-de-senha.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.90; /* Ajuste a transparência conforme necessário */
  z-index: -1; /* Coloca o pseudo-elemento atrás de todos os outros elementos */
}
.create-password-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-height: 25%; /* 100% da altura da viewport */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 15px;
  max-width: 25%; 
  margin: 20px auto; 
  padding: 20px; 
  color: #10a0e7;
}

.create-password-container h2 {
 
  color: #10a0e7;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: #10a0e7;
  
}

form {
  display: flex;
  flex-direction: column;
}


.password-input,
.confirm-password-input {
  margin-bottom: 15px;
  position: relative;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container {
  position: relative;
}

.input-with-icon {
  position: relative;
}

input {
  width: 100%; /* Ocupa 100% da largura do contêiner pai */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  
}

.eye-iconchange {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: 40%;
  transform: translateY(-50%);
  width: 15%; /* Ajuste conforme necessário para telas menores */
  height: 30%;
  color:#c2bfbf;
}


.user-email {
  width: 80%; /* Ocupa 100% da largura do contêiner pai */
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px; /* Adicione o mesmo espaçamento que os outros campos */
  text-align: center;
}



@media (max-width: 768px) {
  .create-password-container {
    max-width: 90%; /* Reduz a largura máxima para telas menores */
  }

  .user-email, input {
    font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
  }

  .eye-iconchange {
    width: 15%; /* Ajusta o tamanho do ícone do olho para telas menores */
  }
}
.password-strength {
  margin-bottom: 15px;
  text-align: center;
}


.password-strength p {
  font-size: 16px;
  margin: 5px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}


.password-strength .visible {
  
  background-color: #ff4848; /* Vermelho para senha fraca */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: rgb(243, 18, 18); /* Cor do texto */
}

.password-mismatch-error{
  text-align: center;
  color: #ff4848;
  font-size: medium;
}